*{
  /* border: 1px solid teal; */
  font-family: cursive;
  text-decoration: none;
}

nav {
  /* display: none; */
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 175px;
  height: 125px;
}

section  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container {
  display: flex;
  justify-content: space-around;
}

aside {
  min-width: 20%;
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 2em;
}

.card {
  background-color: azure;
  padding: 5px;
  text-align: center;
}

a:hover{
  background-color: grey;
  border-radius: 5px;
}